openapi: 3.1.0
info:
  title: Lime GBFS Public Feed Free Bike Status Station Status API
  version: '2.2'
  summary: Public General Bikeshare Feed Specification (GBFS) 2.2 endpoints for Lime shared electric vehicles.
  description: 'Lime publishes per-city public GBFS 2.2 feeds describing the real-time

    location and status of its free-floating shared e-scooters and e-bikes.

    Each city system has its own auto-discovery endpoint

    (`/api/partners/v2/gbfs/{city}/gbfs.json`) listing the sub-feeds. Use is

    governed by the Lime Public GBFS Terms.

    '
  termsOfService: https://www.li.me/legal/public-gbfs-terms
  contact:
    name: Lime Public Affairs
    url: https://www.li.me/contact-us
  license:
    name: Lime Public GBFS Terms
    url: https://www.li.me/legal/public-gbfs-terms
servers:
- url: https://data.lime.bike/api/partners/v2/gbfs/{city}
  description: Lime GBFS partner endpoint, scoped per city system.
  variables:
    city:
      default: paris
      description: City slug (e.g. paris, london, berlin, hamburg, rome, atlanta, calgary, ottawa).
tags:
- name: Station Status
paths:
  /station_status:
    get:
      operationId: getStationStatus
      summary: Get Station Status
      description: Live availability of vehicles and docks at each station.
      responses:
        '200':
          description: Station status feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationStatusFeed'
      tags:
      - Station Status
components:
  schemas:
    StationStatusFeed:
      allOf:
      - $ref: '#/components/schemas/GbfsEnvelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              stations:
                type: array
                items:
                  $ref: '#/components/schemas/StationStatus'
    GbfsEnvelope:
      type: object
      required:
      - last_updated
      - ttl
      - version
      - data
      properties:
        last_updated:
          type: integer
          format: int64
          description: POSIX timestamp the data was last updated.
        ttl:
          type: integer
          description: Seconds before the data should be refreshed.
        version:
          type: string
          example: '2.2'
    StationStatus:
      type: object
      required:
      - station_id
      - num_bikes_available
      - is_installed
      - is_renting
      - is_returning
      - last_reported
      properties:
        station_id:
          type: string
        num_bikes_available:
          type: integer
        num_docks_available:
          type: integer
        is_installed:
          type: boolean
        is_renting:
          type: boolean
        is_returning:
          type: boolean
        last_reported:
          type: integer
          format: int64
