openapi: 3.1.0
info:
  title: Lime GBFS Public Feed Free Bike Status API
  version: '2.2'
  summary: Public General Bikeshare Feed Specification (GBFS) 2.2 endpoints for Lime shared electric vehicles.
  description: 'Lime publishes per-city public GBFS 2.2 feeds describing the real-time

    location and status of its free-floating shared e-scooters and e-bikes.

    Each city system has its own auto-discovery endpoint

    (`/api/partners/v2/gbfs/{city}/gbfs.json`) listing the sub-feeds. Use is

    governed by the Lime Public GBFS Terms.

    '
  termsOfService: https://www.li.me/legal/public-gbfs-terms
  contact:
    name: Lime Public Affairs
    url: https://www.li.me/contact-us
  license:
    name: Lime Public GBFS Terms
    url: https://www.li.me/legal/public-gbfs-terms
servers:
- url: https://data.lime.bike/api/partners/v2/gbfs/{city}
  description: Lime GBFS partner endpoint, scoped per city system.
  variables:
    city:
      default: paris
      description: City slug (e.g. paris, london, berlin, hamburg, rome, atlanta, calgary, ottawa).
tags:
- name: Free Bike Status
paths:
  /free_bike_status:
    get:
      operationId: getFreeBikeStatus
      summary: Get Free Bike Status
      description: Real-time location and availability of free-floating (dockless) vehicles, including rental URLs.
      responses:
        '200':
          description: Free bike status feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeBikeStatusFeed'
      tags:
      - Free Bike Status
components:
  schemas:
    Bike:
      type: object
      required:
      - bike_id
      - lat
      - lon
      - is_reserved
      - is_disabled
      properties:
        bike_id:
          type: string
          description: Anonymized rotating vehicle identifier.
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        is_reserved:
          type: boolean
        is_disabled:
          type: boolean
        vehicle_type_id:
          type: string
        current_range_meters:
          type: number
        rental_uris:
          type: object
          properties:
            android:
              type: string
              format: uri
            ios:
              type: string
              format: uri
            web:
              type: string
              format: uri
    FreeBikeStatusFeed:
      allOf:
      - $ref: '#/components/schemas/GbfsEnvelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              bikes:
                type: array
                items:
                  $ref: '#/components/schemas/Bike'
    GbfsEnvelope:
      type: object
      required:
      - last_updated
      - ttl
      - version
      - data
      properties:
        last_updated:
          type: integer
          format: int64
          description: POSIX timestamp the data was last updated.
        ttl:
          type: integer
          description: Seconds before the data should be refreshed.
        version:
          type: string
          example: '2.2'
